@model LC.WEB.Models.LawyerProfile.ProfileViewModel

<div class="row">
    <div class="col-xl-4 col-lg-4">
        <div class="m-portlet m-portlet--full-height  ">
            <div class="m-portlet__body" id="portlet_lawyer_information">
                <div class="m-card-profile row">
                    <div class="m-card-profile__pic col-xl-12">
                        <div class="m-card-profile__pic-wrapper">
                            @if (string.IsNullOrEmpty(Model.PersonalInformation.PhotoUrl))
                            {
                                <img id="lawyer_img_profile" src="~/images/general/profile.jpg" alt="Foto de Perfil">
                            }
                            else
                            {
                                <img id="lawyer_img_profile" src="/documentos/@Model.PersonalInformation.PhotoUrl" alt="Foto de Perfil">
                            }
                        </div>
                    </div>
                    <div class="m-card-profile__details text-xl-left col-xl-12">
                        <span class="m-card-profile__name pi_fullname text-center lc-profile-username">@Model.PersonalInformation.FullName.ToPascalCaseFormatWithSpaces()</span>
                        <span class="m-card-profile__email mb-2 text-center bi_specialities" style="width:100%;text-align:center">
                            @if (!Model.BasicInformation.Specialities.Any())
                            {
                                <span>No se han registrado especialidades</span>
                            }
                            else
                            {
                                <span>@string.Join(", ", Model.BasicInformation.Specialities.Select(x => x.Text))</span>
                            }
                        </span>
                        <strong>Num. de Colegiatura :</strong> <span class="bi_cal">@Model.BasicInformation.CAL</span><br />
                        <span class="m-card-profile__email mb-2" style="width:100%">@Model.PersonalInformation.FeaturedStudy</span><br />
                        <i class="la la-map-marker f-lawyer"></i><label class="m-card-profile__email card_detail pi_ubigeo">@Model.PersonalInformation.Department.ToUpper() - @Model.PersonalInformation.Province.ToUpper()</label><br />
                        <i class="la la-book f-lawyer"></i><label class="card_detail">Experiencia : </label><label class="card_detail pt-0 m-card-profile__email" id="total_experience_label">@Model.PersonalInformation.TotalExperience</label><br />
                        <i class="la la-thumbs-up f-lawyer"></i>
                        <span class="qualification_label">@Model.PersonalInformation.Qualification.ToString("0.0")</span>
                        <div class="m-card-profile__email">
                            @for (int i = 1; i <= 5; i++)
                            {
                                @if (i <= Model.PersonalInformation.Qualification)
                                {
                                    <i class="fa fa-star start-graff"></i>
                                }
                                else
                                {
                                    <i class="fa fa-star"></i>
                                }
                            }
                        </div>
                        <br />
                        <a href="javascript:;" class="on_portlet_qualification m-card-profile__email m-link">@Model.PersonalInformation.QualificationQuantity @(@Model.PersonalInformation.QualificationQuantity > 1 ? "comentarios" : "comentario")</a><br />
                    </div>
                </div>
                <div class="m-portlet__body-separator separator_lawyer_card"></div>
                <div class="m-widget1 m-widget1--paddingless">
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="row col-12">
                                <div class="col-10">
                                    <h3 class="m-widget1__title">Valor de consulta</h3>
                                </div>
                            </div>
                            <span class="m-widget1__desc">
                                @if (Model.BasicInformation.FreeFirst)
                                {
                                    <span class="m--font-boldest2 h4 lawyer_fee"><span class="bi_fee">Primera Consulta Gratis</span></span><br />
                                }
                                else
                                {
                                    <span class="m--font-boldest2 h4 lawyer_fee">S./<span class="bi_fee">@Model.BasicInformation.Fee</span> x consulta </span><br />
                                }

                                @*<span class="bi_freeFirst">@(Model.BasicInformation.FreeFirst ? "Primera consulta sin costo" : "")</span>*@
                            </span>
                        </div>
                    </div>
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center mt-4">
                            <div class="row col-12">
                                <div class="col-10">
                                    <h3 class="m-widget1__title">Temas</h3>
                                </div>
                            </div>
                            <span class="m-widget1__desc mt-3 bi_themes">
                                @if (!Model.BasicInformation.Specialities.Any())
                                {
                                    <span>No se han registrado categorias</span>
                                }
                                else
                                {
                                    @foreach (var item in Model.BasicInformation.SpecialityThemes)
                                    {
                                        <span class="m-badge lc-badge-blue m-badge--wide">@item.Text</span>
                                    }
                                }
                            </span>
                        </div>
                    </div>
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="row col-12">
                                <div class="col-10">
                                    <h3 class="m-widget1__title">Informaci&oacute;n de Contacto</h3>
                                </div>

                            </div>
                            <span class="m-widget1__desc">
                                <span class="m-widget1__desc" style="font-size:16px;">

                                    <strong>Fec. Nacimiento : &ensp; </strong><span class="pi_birthdate">@Model.PersonalInformation.BirthDate</span><br />
                                    <strong>DNI :&ensp; </strong><span class="pi_dni"> @Model.PersonalInformation.DNI</span><br />
                                    <strong>Tel&eacute;fono :&ensp; </strong><span class="pi_houseNumber">@Model.PersonalInformation.HouseNumber</span><br />
                                    <strong>Celular :&ensp; </strong><span class="pi_phoneNumber">@Model.PersonalInformation.PhoneNumber</span> <br />
                                    <strong>Sexo : &ensp; </strong><span class="pi_sex">@ConstantHelpers.ENTITIES.USER.SEX.VALUES[Model.PersonalInformation.Sex]</span>
                                    @if (User.IsInRole(ConstantHelpers.ROLES.ADMIN))
                                    {
                                        <br />
                                        <strong>Correo :&ensp;</strong><span class="pi_sex">@Model.PersonalInformation.Email</span>
                                    }

                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="m-widget1 m-widget1--paddingless">
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            @if (User.IsInRole(ConstantHelpers.ROLES.CLIENT))
                            {
                                if (Model.LawyerInformation.LegalCaseId != null)
                                {
                                    <h5 class="mb-5">
                                        <a class="m-link m--font-boldest" asp-action="Detail" asp-controller="LegalCase" asp-area="Client" asp-route-legalcaseid="@Model.LawyerInformation.LegalCaseId">Regresar al Detalle del Caso</a>
                                        <span>/</span>
                                        <span>Perfil del Abogado</span>
                                    </h5>

                                    @*<div class="text-center" style="width:100%">
                                        <button type="button" style="font-size:23px;" id="accept_lawyer_postulacion" data-id="@Model.LawyerId" data-legalcaseid="@Model.LawyerInformation.LegalCaseId" class="btn btn-lc-green m-btn m-btn--pill m-btn--wide m--font-boldest2">
                                            Seleccionar Abogado
                                        </button>
                                    </div>*@
                                }
                                else
                                {
                                    <div class="text-center" style="width:100%">
                                        <a asp-controller="LegalCase" style="font-size:23px;" asp-action="AddDirected" asp-area="Client" asp-route-lawyerId="@Model.LawyerId" class="btn btn-lc-green m-btn m-btn--pill m-btn--wide m--font-boldest2">
                                            Contactar Abogado
                                        </a>
                                    </div>
                                }
                            }

                            @if (User.IsInRole(ConstantHelpers.ROLES.ADMIN) || User.IsInRole(ConstantHelpers.ROLES.ADVISER))
                            {
                                @if (Model.LawyerInformation.Status == ConstantHelpers.ENTITIES.LAWYER.STATUS.PENDING)
                                {
                                    <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-primary alert-dismissible fade show" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <strong>Nuevo Abogado!</strong> El registro fue realizado el @Model.LawyerInformation.RegisterDate. El usuario podr&aacute; acceder a todas las funcionalidades una vez sea v&aacute;lidado.
                                        </div>
                                        <div class="m-alert__actions">
                                            <button type="button" id="validate_lawyer" class="btn btn-secondary btn-sm m-btn m-btn--pill m-btn--wide m--font-boldest2">
                                                Aceptar
                                            </button>
                                            <button type="button" id="reject_lawyer" class="btn btn-danger btn-sm m-btn m-btn--pill m-btn--wide m--font-boldest2">
                                                Denegar
                                            </button>
                                        </div>
                                    </div>
                                }

                                @if (Model.LawyerInformation.Status == ConstantHelpers.ENTITIES.LAWYER.STATUS.REJECTED)
                                {
                                    <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-primary alert-dismissible fade show" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <strong>Perfil Rechazado!</strong> La validaci&oacute;n del usuario fue el @Model.LawyerInformation.ValidationDate.
                                        </div>
                                        <div class="m-alert__actions">
                                            <button type="button" id="view_observations" class="btn btn-secondary btn-sm m-btn m-btn--pill m-btn--wide m--font-boldest2">
                                                Ver Observaciones
                                            </button>
                                        </div>
                                    </div>
                                }

                                @*@if (Model.Status == ConstantHelpers.ENTITIES.LAWYER.STATUS.CORRECTED_OBSERVATIONS)
                                    {
                                        <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-primary alert-dismissible fade show" role="alert">
                                            <div class="m-alert__icon">
                                                <i class="la la-warning"></i>
                                            </div>
                                            <div class="m-alert__text">
                                                <strong>Observaciones Corregidas!</strong>
                                            </div>
                                            <div class="m-alert__actions">
                                                <button type="button" id="validate_lawyer" class="btn btn-secondary btn-sm m-btn m-btn--pill m-btn--wide m--font-boldest2">
                                                    Aceptar
                                                </button>
                                                <button type="button" id="reject_lawyer" class="btn btn-danger btn-sm m-btn m-btn--pill m-btn--wide m--font-boldest2">
                                                    Denegar
                                                </button>
                                                <button type="button" id="view_observations" class="btn btn-secondary btn-sm m-btn m-btn--pill m-btn--wide m--font-boldest2">
                                                    Ver Observaciones
                                                </button>
                                            </div>
                                        </div>
                                    }*@
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 d-none" id="portlet_publications">
        @*<ul class="nav nav-pills nav-fill profile_nav_pills " role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="javascript:;">Publicaciones</a>
                </li>
            </ul>*@
        <div class="m-portlet">
            <div class="m-portlet__body">
                <div class="container-profile-item" id="container_publication_v2">
                    <div class="row">
                        <div class="col-9">
                            <h4 class="m--font-boldest2 lc-profile-title">Publicaciones en el blog</h4>
                        </div>
                        <div class="col-3 d-flex justify-content-end">
                            <a class="btn btn-outline-primary m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air view_main_portlet">
                                <i class="la la-close"></i>
                            </a>
                        </div>
                    </div>
                    <div id="lawyer_publication_v2_div" class="mt-5"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 d-none" id="portlet_qualifications">
        @*<ul class="nav nav-pills nav-fill profile_nav_pills " role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="javascript:;">Comentarios</a>
                </li>
            </ul>*@
        <div class="m-portlet">
            <div class="m-portlet__body">
                <div class="container-profile-item " id="container_qualification_v2">
                    <div class="row">
                        <div class="col-9">
                            <h4 class="m--font-boldest2 lc-profile-title">Los clientes de "@Model.PersonalInformation.Name" comentan</h4>
                        </div>
                        <div class="col-3 d-flex justify-content-end">
                            <a class="btn btn-outline-primary m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air view_main_portlet">
                                <i class="la la-close"></i>
                            </a>
                        </div>
                    </div>
                    <div id="lawyer_qualification_v2_div" class=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8" id="portlet_main">
        @*<ul class="nav nav-pills nav-fill profile_nav_pills " role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="javascript:;" id="about_me_link">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="javascript:;" id="labor_experience_link">Experiencia Laboral</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="javascript:;" id="studies_link">Formaci&oacute;n Acad&eacute;mica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="javascript:;" id="languages_link">Idiomas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="javascript:;" id="publications_link">Publicaciones</a>
                </li>

            </ul>*@
        <div class="m-portlet">
            <div class="m-portlet__body">
                <div class="container-profile-item" id="container_about_me">
                    <div class="row">
                        <div class="col-9">
                            <h4 class="m--font-boldest2 lc-profile-title">Acerca de @Model.PersonalInformation.FullName.ToPascalCaseFormatWithSpaces()</h4>
                        </div>

                    </div>
                    <div class="row mt-2">
                        <div class="col-12 text-justify">
                            @if (string.IsNullOrEmpty(Model.AboutMe))
                            {
                                <div class="m-demo__preview col-12" id="empty_aboutme">
                                    <blockquote class="blockquote">
                                        <p class="mb-0"> Aún no se agrega informaci&oacute;n</p>
                                        <footer class="blockquote-footer"><cite title="Source Title"> Recuerda que para recibir m&aacute;s ofertas de casos necesitas tener tu perfil completo y asi podr&aacute;s tener m&aacute;s opciones de ser seleccionado.</cite></footer>
                                    </blockquote>
                                </div>
                            }

                            <p id="container_about_me_text" class="expandable">
                                @Model.AboutMe
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body-separator"></div>
                <div class="container-profile-item mt-5" id="container_experience">
                    <div class="row mb-4">
                        <div class="col-12">
                            <h4 class="m--font-boldest2 lc-profile-title">Experiencia Laboral</h4>
                        </div>
                    </div>
                    <div id="lawyer_experience_div">
                        @if (Model.Experiences.Any())
                        {
                            @for (int i = 0; i < Model.Experiences.Count(); i++)
                            {
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-sm-3 mt-2 text-center">
                                        @if (string.IsNullOrEmpty(Model.Experiences[i].PhotoUrl))
                                        {
                                            <img src="~/images/general/company.png" class="logo_company_experience" alt="Logo compañia" />

                                        }
                                        else
                                        {
                                            <img src="/documentos/@Model.Experiences[i].PhotoUrl" class="logo_company_experience" alt="Logo compañia" />
                                        }
                                    </div>
                                    <div class="mt-2 col-xl-9 col-lg-9 col-sm-9">
                                        <div class="col-12 row pr-0">
                                            <p class="col-12 m--font-boldest">
                                                @Model.Experiences[i].Company - @Model.Experiences[i].Position
                                            </p>
                                        </div>
                                        <p class="col-12">@Model.Experiences[i].StartDate - @(string.IsNullOrEmpty(Model.Experiences[i].EndDate) ? "A la actualidad" : Model.Experiences[i].EndDate)</p>
                                        <p class="col-12 text-justify pr-0 expandable">
                                            @Model.Experiences[i].Description
                                        </p>
                                    </div>
                                </div>

                                if (i < Model.Experiences.Count() - 1)
                                {
                                    <div class="m-divider">
                                        <span></span>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <div class="m-demo__preview col-12">
                                <blockquote class="blockquote">
                                    <p class="mb-0"> Aún no se agregan experiencias laborales</p>
                                    <footer class="blockquote-footer"><cite title="Source Title"> Recuerda que para recibir m&aacute;s ofertas de casos necesitas tener tu perfil completo y asi podr&aacute;s tener m&aacute;s opciones de ser seleccionado.</cite></footer>
                                </blockquote>
                            </div>
                        }
                    </div>
                    @*<div class="mt-4">
                            <button class="btn btn-primary m-btn m-btn--custom m-btn--icon btn-add-option btn-experience-add">
                                <span>
                                    <span>Agregar</span>
                                    <i class="la la-plus"></i>
                                </span>
                            </button>
                        </div>*@
                </div>
                <div class="m-portlet__body-separator"></div>
                <div class="container-profile-item mt-5" id="container_study">
                    <div class="row mb-4">
                        <div class="col-12">
                            <h4 class="m--font-boldest2 lc-profile-title">Formación Académica</h4>
                        </div>
                    </div>
                    <div id="lawyer_study_div">
                        @if (Model.Studies.Any())
                        {
                            @for (int i = 0; i < Model.Studies.Count(); i++)
                            {
                                <div class="row mt-2">
                                    <div class="col-12 row">
                                        <p class="col-12 m--font-boldest">
                                            @Model.Studies[i].Ubication - @Model.Studies[i].Grade
                                        </p>
                                    </div>
                                    <p class="col-12">@Model.Studies[i].StartDate - @(string.IsNullOrEmpty(Model.Studies[i].EndDate) ? "A la actualidad" : Model.Studies[i].EndDate)</p>
                                    <p class="col-12 text-justify expandable">
                                        @Model.Studies[i].Description
                                    </p>
                                </div>

                                if (i < Model.Studies.Count() - 1)
                                {
                                    <div class="m-divider">
                                        <span></span>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <div class="m-demo__preview col-12">
                                <blockquote class="blockquote">
                                    <p class="mb-0"> Aún no se agregan formaciones acad&eacute;micas</p>
                                    <footer class="blockquote-footer"><cite title="Source Title"> Recuerda que para recibir m&aacute;s ofertas de casos necesitas tener tu perfil completo y asi podr&aacute;s tener m&aacute;s opciones de ser seleccionado.</cite></footer>
                                </blockquote>
                            </div>
                        }
                    </div>
                    @*<div class="mt-4">
                            <button class="btn btn-primary m-btn m-btn--custom m-btn--icon btn-add-option btn-study-add">
                                <span>
                                    <span>Agregar</span>
                                    <i class="la la-plus"></i>
                                </span>
                            </button>
                        </div>*@
                </div>
                <div class="m-portlet__body-separator"></div>
                <div class="container-profile-item mt-5" id="container_language">
                    <div class="row mb-4">
                        <div class="col-9">
                            <h4 class="m--font-boldest2 lc-profile-title">Idiomas</h4>
                        </div>
                        @*<div class="col-3">
                                <a href="javascript:;" class="pull-right m-link m--font-boldest btn-study-add" data-toggle="modal" data-target="#language_modal">Agregar</a>
                            </div>*@
                    </div>
                    <div id="lawyer_language_div">
                        @if (Model.Languages.Any())
                        {
                            @for (int i = 0; i < Model.Languages.Count(); i++)
                            {
                                <div class="row mt-2">
                                    <div class="col-12 row">
                                        <p class="col-12">
                                            @Model.Languages[i].Name - @(ConstantHelpers.ENTITIES.LAWYER_LANGUAGE.LEVEL.VALUES[Model.Languages[i].Level])
                                        </p>
                                    </div>
                                </div>

                                if (i < Model.Languages.Count() - 1)
                                {
                                    <div class="m-divider">
                                        <span></span>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <div class="m-demo__preview col-12">
                                <blockquote class="blockquote">
                                    <p class="mb-0"> Aún no se agregan idiomas</p>
                                    <footer class="blockquote-footer"><cite title="Source Title"> Recuerda que para recibir m&aacute;s ofertas de casos necesitas tener tu perfil completo y asi podr&aacute;s tener m&aacute;s opciones de ser seleccionado.</cite></footer>
                                </blockquote>
                            </div>
                        }
                    </div>
                </div>
                <div class="m-portlet__body-separator"></div>
                <div class="container-profile-item mt-5" id="container_qualification">
                    <div class="row mb-4">
                        <div class="col-9">
                            <h4 class="m--font-boldest2 lc-profile-title">Los clientes de "@Model.PersonalInformation.Name" comentan</h4>
                        </div>
                        <div class="col-3">
                            <a href="javascript:;" class="on_portlet_qualification pull-right m-link m--font-boldest">Ver Todos</a>
                        </div>
                    </div>
                    <div id="lawyer_qualification_div">
                        @if (Model.Qualifications.Any())
                        {
                            @for (int i = 0; i < Model.Qualifications.Count(); i++)
                            {
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-sm-3 mt-2 text-center">
                                        @if (string.IsNullOrEmpty(Model.Qualifications[i].ClientPicture))
                                        {
                                            <img src="~/images/general/profile.jpg" class="logo_company_experience" alt="Logo compañia" />

                                        }
                                        else
                                        {
                                            <img src="/documentos/@Model.Qualifications[i].ClientPicture" class="logo_company_experience" alt="Logo compañia" />
                                        }
                                    </div>
                                    <div class="mt-2 col-xl-9 col-lg-9 col-sm-9">
                                        <div class="col-12 row pr-0">
                                            <p class="col-8 m--font-boldest">
                                                @Model.Qualifications[i].Client
                                            </p>
                                            <div class="col-4 text-right">
                                                @for (int v = 1; v <= 5; v++)
                                                {
                                                    @if (v <= Model.Qualifications[i].Qualification)
                                                    {
                                                        <i class="fa fa-star start-graff"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-star"></i>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <p class="col-12 text-justify pr-0 expandable">
                                            @Model.Qualifications[i].Commentary
                                        </p>
                                    </div>
                                </div>


                                if (i < Model.Qualifications.Count() - 1)
                                {
                                    <div class="m-divider">
                                        <span></span>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <div class="m-demo__preview col-12">
                                <blockquote class="blockquote">
                                    <p class="mb-0"> Aún no se han registrado comentarios</p>
                                    <footer class="blockquote-footer"><cite title="Source Title"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to ma</cite></footer>
                                </blockquote>
                            </div>
                        }
                    </div>
                </div>

                <div class="m-portlet__body-separator"></div>
                <div class="container-profile-item mt-5" id="container_publication">
                    <div class="row mb-4">
                        <div class="col-9">
                            <h4 class="m--font-boldest2 lc-profile-title">Publicaciones en el blog</h4>
                        </div>

                        <div class="col-3">
                            <a href="javascript:;" class="on_portlet_publication pull-right m-link m--font-boldest">Ver Todas</a>
                        </div>
                    </div>
                    <div id="lawyer_publication_div">
                        @if (Model.Publications.Any())
                        {
                            @for (int i = 0; i < Model.Publications.Count(); i++)
                            {
                                <div class="row mt-2">
                                    <div class="col-12 row">
                                        <p class="col-12 m--font-boldest">
                                            @Model.Publications[i].Title
                                        </p>
                                    </div>
                                    <p class="col-12">@Model.Publications[i].Topic</p>
                                    <p class="col-12">Fec. Publicaci&oacute;n : @Model.Publications[i].PublicationDate</p>
                                    <p class="col-12 text-justify expandable">
                                        @Model.Publications[i].Description
                                    </p>
                                </div>

                                if (i < Model.Publications.Count() - 1)
                                {
                                    <div class="m-divider">
                                        <span></span>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <div class="m-demo__preview col-12">
                                <blockquote class="blockquote">
                                    <p class="mb-0"> Aún no se agregan publicaciones</p>
                                    <footer class="blockquote-footer"><cite title="Source Title"> Recuerda que para recibir m&aacute;s ofertas de casos necesitas tener tu perfil completo y asi podr&aacute;s tener m&aacute;s opciones de ser seleccionado.</cite></footer>
                                </blockquote>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>