@model List<LC.ENTITIES.Models.HowItWorksStep>
@{
    var count = 0;
}
<h2 class="toast-title portal-title">Ahora podr&aacute;s conseguir clientes mucho m&aacute;s f&aacute;cil</h2>

@if (Model!=null && Model.Count()>0)
{
    @foreach (var item in Model)
    {
        var isLast = count==(Model.Count()-1);

        @if (count%2 == 0)
        {
            <div class="row align-items-center justify-content-end how-it-works d-flex">
                <div class="col-lg-6 col-md-6">
                    <h5 class="m--padding-left-10 m--padding-right-10 lc-step-number">
                        #@(count+1)
                    </h5>
                    <h2 class="m--padding-10 lc-step-title">@item.Title</h2>
                    <div class="m--padding-left-10 m--padding-right-10">
                        @Html.Raw(item.Content)
                    </div>
                    @if (count==0)
                    {
                        <div class="text-center">
                            <a class="btn btn-lc-green m-btn--pill" target="_blank" href="/registrar-abogado"> REGISTRATE </a>
                        </div>
                    }
                </div>
                <div class="col-lg-6 col-md-6">
                    <img src="/documentos/@item.UrlImage" class="m-link-hover__img img-fluid" alt="@item.Title">
                </div>
            </div>
            @if (!isLast)
            {
                <!--path between 2-3-->
                <div class="row timeline">
                    <div class="col-7" style="margin:auto;display:flex">
                        <div class="col-2">
                            <div class="corner right-bottom"></div>
                        </div>
                        <div class="col-8">
                            <hr />
                        </div>
                        <div class="col-2">
                            <div class="corner top-left"></div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row align-items-center how-it-works d-flex">
                <div class="col-lg-6 col-md-6">
                    <img src="/documentos/@item.UrlImage" class="m-link-hover__img img-fluid" alt="@item.Title">
                </div>
                <div class="col-lg-6 col-md-6">
                    <h5 class="m--padding-left-10 m--padding-right-10 lc-step-number">
                        #@(count+1)
                    </h5>
                    <h2 class="m--padding-10 lc-step-title">@item.Title</h2>

                    <div class="m--padding-left-10 m--padding-right-10">
                        @Html.Raw(item.Content)
                    </div>
                </div>
            </div>
            @if (!isLast)
            {
                <!--path between 1-2-->
                <div class="row timeline">
                    <div class="col-7" style="margin:auto;display:flex">
                        <div class="col-2">
                            <div class="corner top-right"></div>
                        </div>
                        <div class="col-8">
                            <hr />
                        </div>
                        <div class="col-2">
                            <div class="corner left-bottom"></div>
                        </div>
                    </div>
                </div>
            }
        }
        count++;
    }
}