@model List<LC.WEB.Areas.Lawyer.Models.Profile.ExperienceViewModel>

@if (Model.Any())
{
    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-3 mt-2 text-center">
                @if (string.IsNullOrEmpty(Model[i].PhotoUrl))
                {
                    <img src="~/images/general/company.png" class="logo_company_experience" alt="Logo compañia" />

                }
                else
                {
                    <img src="/documentos/@Model[i].PhotoUrl" class="logo_company_experience" alt="Logo compañia" />
                }
            </div>
            <div class="mt-2 col-xl-9 col-lg-9 col-sm-9">
                <div class="col-12 row pr-0">
                    <p class="col-8 m--font-boldest">
                        @Model[i].Company - @Model[i].Position
                    </p>
                    <div class="col-4 d-flex align-items-center justify-content-end">
                        <i data-id="@Model[i].Id" class="fa fa-edit options_partialview btn-experience-edit"></i>
                        <i data-id="@Model[i].Id" class="fa fa-trash options_partialview btn-experience-delete"></i>
                    </div>
                </div>
                <p class="col-12">@Model[i].StartDate - @(string.IsNullOrEmpty(Model[i].EndDate) ? "A la actualidad" : Model[i].EndDate)</p>
                <p class="col-12 text-justify pr-0 expandable">
                    @Model[i].Description
                </p>
            </div>
        </div>

        <div class="m-divider">
            <span></span>
        </div>
    }
}
else
{
    <div class="m-demo__preview col-12">
        <blockquote class="blockquote">
            <p class="mb-0"> Aún no se agregan experiencias laborales</p>
            <footer class="blockquote-footer"><cite title="Source Title"> Recuerda que para recibir m&aacute;s ofertas de casos necesitas tener tu perfil completo y asi podr&aacute;s tener m&aacute;s opciones de ser seleccionado.</cite></footer>
        </blockquote>
    </div>
}